<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/Feyisara.Bash/Documents/TestCodeCamp_Programme/Submissions/FinalProject/KongaProject"><classes><class name="Test.KongaTest"><methods><include name="testLoginPage"/></methods></class></classes></test></suite>